h1.title {
  color: rgb(255,255,255);
  font-size: 100px;
  font-variant: small-caps;
  text-align: center;
  background-color: rgb(255,0,255);
}

h1.autoSection {
  position: relative;
  color: rgb(255,255,255);
  font-size: 100px;
  font-variant: small-caps;
  text-align: center;
  background-color: rgb(255,0,255);
  top: 1000px;
}

p.display {
  font-size: 20px;
  position: absolute;
  top: 200px;
  left: 630px;
}

p.date_range {
  font-size: 20px;
  position: absolute;
  top: 300px;
  left: 600px;
}

p.range_word {
  font-size: 20px;
  position: absolute;
  top: 330px;
  left: 770px;
}

/* buttons */
  input.auto_choice {
    display: block;
    position: absolute;
    top: 220px;
    left: 710px;
  }

  input.release_choice {
    display: block;
    position: absolute;
    top: 245px;
    left: 710px;
  }

  input.bugs_choice {
    display: block;
    position: absolute;
    top: 270px;
    left: 710px;
  }

  p.autoText {
    font-size: 20px;
    position: absolute;
    top: 200px;
    left: 750px;
  }

  p.releaseText {
    font-size: 20px;
    position: absolute;
    top: 225px;
    left: 750px;
  }

  p.bugsText {
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 750px;
  }

/* submit to diplay */
.homeSubmit {
  position: absolute;
  top: 420px;
  left: 750px;
}

/* date */
input.startDate {
  display: block;
  position: absolute;
  top: 320px;
  left: 708px;
  width: 150px;
}

input.endDate {
  display: block;
  position: absolute;
  top: 380px;
  left: 708px;
  width: 150px;
}
